<h1>List of all ingredients</h1>

<ul>
  <% @ingredients.each do |ingr| %>
    <li>
      <%= ingr.name.capitalize %>
      <%= link_to ingredient_path(ingr), :method => :delete do %>
        <i class="fas fa-trash"></i>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "Add new ingredient", new_ingredient_path %>
